.NavBar {
  background-color: black;
  color: white;
}

.NavBar button{
  background-color: #cca53c;
  
}

.NavLink {
  padding: 5px;
	color: white;
}

.NavLink:hover{
	color: #cca53c;
}

.Active i {
  color: #cca53c;
}